$base-color: #fff;
$orange-color: #f36c00;
$blue-color: #072940;

@mixin font-size-weight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexbox-align-center() {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

@mixin section-padding($max, $min) {
  padding: $max 0;

  @media only screen and (max-width: 780px) {
    padding: $min 0;
  }
}

@mixin section-padding-side($value) {
  padding: 0 $value;
}

@mixin media-font-size($default, $max, $mid, $min, $micro) {
  font-size: $default;

  @media only screen and (max-width: 1200px) {
    font-size: $max;
  }

  @media only screen and (max-width: 950px) {
    font-size: $mid;
  }

  @media only screen and (max-width: 780px) {
    font-size: $min;
  }

  @media only screen and (max-width: 600px) {
    font-size: $micro;
  }
}