.benefits {
	@include section-padding(75px, 50px);
	padding-left: 50px;
	padding-right: 50px;

	&-body {
		@include flexbox();
		justify-content: flex-end;
	}

	&-description,
	&-video {
		width: 45%;
	}

	&-video {
		@include flexbox();
		flex-direction: column;
	}

	&-title {
		@include flexbox-align-center();
		justify-content: flex-start;
		padding: 15px;
		border-bottom: 1px solid $blue-color;
		font-size: 15px;
		font-weight: 700;
		cursor: pointer;
		color: #929292;

		&:hover {
			color: $blue-color;
		}

		&::after {
			content: '＋';
			color: $orange-color;
			font-size: 23px;
			margin-left: auto;
		}

		&::before {
			content: url(../img/point.png);
			color: $orange-color;
			margin-right: 5px;
		    	margin-left: -30px;
		}

		&.active {
			color: $blue-color;
			border-bottom: 1px solid $orange-color;
		}
		
		&.active:after {
			content: '－';
		}
	}

	&-img {
		width: 100%;
	}

	&-text {
		padding: 15px;
		font-size: 12px;
	}

	&-link {
		@include flexbox-align-center();
		flex-direction: column;
		margin-top: 75px;
	}
}

@media only screen and (max-width: 768px) {
	.benefits {
		&-description,
		&-video {
			margin: auto;
			width: 80%;
		}

		&-video {
			margin-top: 30px;
		}

		&-body {
			flex-direction: column;
		}

		&-title {
			font-size: 11px;
		}

		&-text {
			font-size: 9px;
		}
	}
}