.call-back {
	@include section-padding(75px, 40px);
}

.form {
	@include flexbox();
	flex-flow: row wrap;
	justify-content: space-between;

	&-container {
		width: 25%;

		label {
			position: absolute;
			display: flex;
			color: #d61a11;
			margin: 10px 0;
			font-weight: 700;
		}
	}

	&-item {
		width: 95%;
	}

	&-item,
	&-btn {
		text-align: center;
		margin-top: 15px;
		padding: 15px 0;
		font-size: 20px;
		border: 1px solid $blue-color;
		border-radius: 25px;
		outline: none;
		transition: all .30s ease-in-out;

		&::placeholder {
			color: rgba(7, 41, 64, .7);
		}

		&:focus {
			border-color: $orange-color;
			transition: all .30s ease-in-out;
		}
	}

	&-btn {
		width: 100%;
		color: $base-color;
		font-size: 25px;
		background-color: $blue-color;
		padding: 11px;
		cursor: pointer;
		border: 2px solid $blue-color;
		transition: all .25s ease-out;

		&:hover {
			background-color: $orange-color;
			color: $blue-color;
		}
	}
}

@media only screen and (max-width: 800px) {
  .form {
  	&-container {
  		width: 100%;

  		&:not(:first-child) {
  			margin-top: 25px;
  		}

  		label {
  			margin: 5px 0;
  			font-size: 13px;
  		}
  	}

  	&-item {
  		width: 100%;
  		margin-top: 0;
  	}

  	&-btn {
  		margin: 10px auto 0;
  	}
  }
}

.error {
	border-color: #d61a11;
}

.intl-tel-input .flag-container {
	top: 0;
}